<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKEND_URL</key>
	<string>https://echotales-backend-377842214787.us-central1.run.app</string>
	<key>USE_BACKEND</key>
	<true/>
	<key>ELEVENLABS_API_KEY</key>
	<string></string>
	<key>ELEVENLABS_BASE_URL</key>
	<string>https://api.elevenlabs.io/v1</string>
	<key>DEBUG_MODE</key>
	<false/>
</dict>
</plist>

